numpy
scipy
pytest
pandas
scikit-learn
pybind11
matplotlib
seaborn
mkdocs-material
mkdocstrings-python
mistune==3.0.2 # Temporary mistune pin to address https://github.com/lepture/mistune/issues/403
mkdocs-jupyter
